#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.display-2 {
  margin-top: 20px;
  text-align: center;
  color: #ffffff;
}

.display-4 {
  font-size: 16px;
}

.description {
  margin-top: 30px;
  color: #ffffff;
  font-size: 16px;
}

.display-3 {
  margin-top: 30px;
  color: #ffffff;
}

.form-control {
  padding-left: 200px;
  padding-right: 200px;
  margin-top: 40px;
}

.btn-primary {
  margin-top: 40px;
}

.border-danger {
  align-items: center;
  text-align: center;
}

.row {
  color: #000000;
}

.card.img {
  font-weight: 800px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-block: 0px;
}
img {
  width: 100px;
  margin-top: 20px;
}

p {
  font-weight: 500;
}

footer {
  text-align: center;
  position: fixed;
  width: 100%;
  font-size: x-large;
}

.measures {
  font-size: 25px;
}

.unit {
  font-size: 18px;
}

.container {
  background-size: cover;
  transition: all 3s ease-in-out;
  backdrop-filter: blur(10px);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  color: #ffffff;
}

#prec {
  color: #ffffff;
}

#speed {
  color: #ffffff;
}

.btn {
  display: inline-block;
  background-color: #f41ebf;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  width: 150px;
  transition: all 0.5s;
  cursor: pointer;
}

.btn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.btn span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.btn:hover span {
  padding-right: 25px;
}

.btn:hover span:after {
  opacity: 1;
  right: 0;
}

.fahrenheit {
  display: inline-block;
  background-color: #c9eeea;
  padding: 15px;
  border: none;
  color: #f41ebf;
  text-align: center;
  font-size: 16px;
  width: 300px;
  transition: all 0.5s;
  cursor: pointer;
}
